$primaryColor: #f3eaf1;
$whiteColor: white;

$fontCairo: 'Cairo', sans-serif;

html, body{
    overflow-x:hidden;
    overflow-y:hidden;
    height: 100%;
}
header{
    & #header__navBar{
        background-color: $primaryColor;

        & .logo_img{
            margin-right: 10%;
        }
        
        & .cart{
            margin-right: 5%;

            & .bx-cart:before{
                font-size: 2rem;
            }
        }
    }
}
main{
    width: 100vw;
    height: 80vh;
    
    & .container{
        width: 100vw;
        height: 100vh;
        & a{
            text-decoration: none;
        }
        & #container__logoText{
            font-family: $fontCairo;
        }
        & #first_row{
            padding-top: 5%;
        }
        & #second-row{
            padding-top: 15%;

            & #btn-goto-shopping{
                border-radius: 20px;
            }
        }
        & #third-row{
            padding-top: 5%;
        }
    }
}
footer{
    & ul {
        list-style: none;
        display: flex;
        position: relative;
        margin-bottom: 10px;
    }
    & .social-icon{
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 27px;
        margin-right: 11px;
        cursor: pointer;
    }
    & .social-twitter {
        background-color: #55acee
    }
    
    & .social-facebook {
        background-color: #3b5999
    }
    
    & .social-linkedin {
        background-color: #0077B5
    }
    
    & .social-google {
        background-color: #dd4b39
    }
    
    & .social-instagram {
        background-color: #dd4b39
    }
    
    & .social-icon i {
        transition: 0.4s all
    }
    
    & .social-icon:hover i {
        transform: scale(1.4)
    }
}

